@font-face {
    font-family: 'pf_synch_proregular';
    src: url('fonts/pfsynchpro-regular-webfont.eot');
    src: url('fonts/pfsynchpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfsynchpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_synch_promedium';
    src: url('fonts/pfsynchpro-medium-webfont.eot');
    src: url('fonts/pfsynchpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfsynchpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_cond_proregular';
    src: url('fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

