/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

body {
  font-size: 100%;
  font-family: "Droid Serif", serif;
}

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img{
  max-width: 100%;
}

h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 0;
  margin-bottom: 0;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: -50px;
  left: 18px;
  height: 120%;
  width: 4px;
  background: #d7e4ed;
  opacity: 0.7;
}

  #cd-timeline {
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }

#big-container{
  
  position: fixed;
  width:520px;

  top: 85px;
  margin-left: 0px;
  /*background-color: red;*/
 
  border-radius: 0.25em;
  padding: 1em;
  -webkit-transition: opacity 3s;
  transistion: opacity 3s;
  overflow: hidden;
 
}


.e1Left{
  left:64px;
  height: 200px;
  z-index: 999;
  opacity: 1;
}

.e1Right{
  left:664px;
  opacity: 1;
  height: 200px;
  z-index: 999;
}

.shrink{
  height: 200px;
  opacity: 0;
  z-index: -999;
}

.expandLeft{
  opacity: 1;
  left:64px;
  height: 800px;
   -webkit-transition: 1s;
  transistion: 1s;

}

.expandRight{
  opacity: 1;
  
  left:700px;
  height: 800px;
   -webkit-transition:  1s;
  transistion:  1s;

}

.big{

  width:520px;
  height: 550px;
  overflow: hidden;
}
.cover{

  height: 180px;
  width: 100%;
  background-color: gray;
  overflow: hidden;
}

.co{
  background-color: rgba(0,0,0,0.6);
  width: 91.5%;
  height: 40px;
  position: absolute;
  top: 146px;
  z-index: 10;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 30px;
  color: white;
  font-family: "Droid Serif", serif;
  font-weight: bold;
}

.info{
  width: 100%;
  background-color: black;
  color:white;
  overflow: hidden;
  height: 340px;
}
.date{
  height: 40px;
  width: 95%;
  position: relative;
  background: transparent;
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
  font-size: 25px;
  font-family: "Droid Serif", serif;
}
.desc {
  padding:10px; 
  color: white;
  height: 60%;
  line-height: 20px;
}
.links{
  height: 80px;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  padding-left: 10px;
  margin: 5px;
}
li{
  margin: 10px;
  z-index: 50;
}

.close{
  position: absolute;
  right: 18px;
  top: 22px;
  height: 20px;
  width: 20px;
  background: url('close.png');
}
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }


.cd-timeline-img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}
.cd-timeline-img img {
  display: block;
  width: 170px;
  height: 48px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -28px;
}



  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }


  .header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 90px;
    background-color: black;
    opacity: 1;
    z-index: 1100;
    display: none;
  }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2) rotate(216deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(360deg);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2) rotate(216deg);
  }

  100% {
    -moz-transform: scale(1) rotate(360deg);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2) rotate(216deg);
    -moz-transform: scale(1.2) rotate(216deg);
    -ms-transform: scale(1.2) rotate(216deg);
    -o-transform: scale(1.2) rotate(216deg);
    transform: scale(1.2) rotate(216deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}
.cd-timeline-content {
  position: relative;
  top: -50px;
  margin-left: 60px;
  background-color: black;
  opacity: 1;
  border-radius: 0.25em;
  padding: 1em;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: white ;
  opacity: 1;
}
.cd-timeline-content p, .cd-timeline-content .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
  opacity: 1;
}
.cd-timeline-content .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: 1;
}
/*.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 25px solid black;
}*/

  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }


  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 40%;
  }
  .cd-timeline-content::before {
    top: 74px;
    left: 100%;
    border-color: transparent;
    border-left: 25px solid black;
  }
  .cd-timeline-content {
    float: left;
  }


  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  /*.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 74px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: black;
  }*/
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
    
  }



  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.bg{
  /*background-image: url("dj.jpg");*/
  background-color: #161713;
  position: fixed;
  top: 0px;
  height: 900px;
  width: 100%;
  z-index: -20;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 1;
}

.pattern{
  background-image: url("pattern.png");
  position: fixed;
  z-index: -10;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  top: 0px;
  opacity: 1;
}

.cd-date{
  color: white;
  font-size: 10px;
  margin-top: 55px;
  pointer-events:none;
}


.cd-timeline-block{
  opacity: 0.85;
  height: 60px;

}

.cd-timeline-content{
  color: white;
  border: transparent;
  border-radius: 0px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  overflow: hidden;
  padding-right: 0px;
}


.cd-timeline-content img{
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  float: right;
  top: -60px;
  right: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
}

.event_image{
  background-color: transparent;
  height: 100px;
  width: 100px;
  
  position: relative;
  top: -25px;
  float: right;
  color: black;
  right: 0px;
  padding-right: 0px;
  margin-right: 0px;
  overflow: visible;
  opacity: 0.8;
}

.event_image img{
  top: 10px;
  left: 0px;
  width: 90px;
  height: 147px;
  width: 147px;
  max-width: 147px;

}

.overflows{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
}

.cd-timeline-content h2{
  font-size: 33px;
}

.cd-timeline-content p{
  font-size: 20px;
}
.cd-timeline-content:hover
{
    cursor: default;
}

/****************see more******************************/
.circ1{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  left: 26%;
  top: -45px;
  position: absolute;
  background-color: #39382e;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.circ2{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  left: 26%;
  top: -45px;
  position: absolute;
  background-color: #171814;;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.see-more{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  left: 26%;
  top: -45px;
  position: absolute;
  background-color: black;
  opacity: 0;
  transition: visibility 0.3s ease-out;
  cursor: pointer;
  }

.overlay{
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  opacity: 0;
  transition:  0.3s ease-in-out;
}



#more{
  opacity: 0;
  position: absolute;
  left: 41%;
  top: 42%;
  font-size: 28px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.cd-timeline-content:hover .see-more{
  opacity: 0.8;
  }

.cd-timeline-content:hover .overlay{
  opacity: 0.5;
}

.cd-timeline-content:hover .circ1{
  opacity: 0.6;
  transform: scale(2.2);
}

.cd-timeline-content:hover .circ2{
  opacity: 0.6;
  transform: scale(1.3);
}

.cd-timeline-content:hover #more{
  opacity: 1;
}

/*****************************************************/


/**********************map css**************************/
#map{
    position: fixed;
    top: -50px;
    overflow: hidden;
    height: 120%;
    width: 100%;
    z-index: -10;
    opacity: 0.5;
   
}

#map img{
  height: 120%;
}


.i{
    visibility: hidden;
     z-index: 10000;
}

.q{
  z-index: 10000;
  visibility: visible;
}

.f1{
    visibility: visible;
    position: fixed;
    top: 29%;
    right: 46%;
    z-index: 10000;

    transition: 2s; /* Opera *//**/
}

.f2{
    visibility: visible;
    position: fixed;
    top: 19%;
    right: 51%;
    z-index: 10000;

    transition: 2s; /* Opera *//**/
}

.f3{
    visibility: visible;
    position: fixed;
    top: 43%;
    right: 33%;
    z-index: 10000;

    transition: 2s; /* Opera *//**/
}
.zoom1{
    transform:scale(2,2) translate(0px,0px);
    -ms-transform:scale(2,2) translate(0px,0px); /* IE 9 */
    -moz-transform:scale(2,2) translate(0px,0px); /* Firefox */
    -webkit-transform:scale(2,2) translate(0px,0px); /* Safari and Chrome */
    -o-transform:scale(2,2)  translate(0px,0px);

    transition: transform 2s; /* Opera *//**/
    -ms-transition: transform 2s;
    -moz-transition: transform 2s;
    -webkit-transition: transform 2s;
    -o-transform: transform 2s;
}

.zoom2{
    transform:scale(2,2) translate(350px,100px);
    -ms-transform:scale(2,2) translate(350px,100px); /* IE 9 */
    -moz-transform:scale(2,2) translate(350px,100px); /* Firefox */
    -webkit-transform:scale(2,2) translate(350px,100px); /* Safari and Chrome */
    -o-transform:scale(2,2)  translate(350px,100px);

    transition: transform 2s; /* Opera *//**/
    -ms-transition: transform 2s;
    -moz-transition: transform 2s;
    -webkit-transition: transform 2s;
    -o-transform: transform 2s;
    

}

.zoom3{
    transform:scale(2,2) translate(200px,0px);
    -ms-transform:scale(2,2) translate(200px,0px); /* IE 9 */
    -moz-transform:scale(2,2) translate(200px,0px); /* Firefox */
    -webkit-transform:scale(2,2) translate(200px,0px); /* Safari and Chrome */
    -o-transform:scale(2,2)  translate(200px,0px);

    transition: transform 2s; /* Opera *//**/
    -ms-transition: transform 2s;
    -moz-transition: transform 2s;
    -webkit-transition: transform 2s;
    -o-transform: transform 2s;

}
.zoomout{
    transform:scale(1) ;
    -ms-transform:scale(1) ; /* IE 9 */
    -moz-transform:scale(1) ; /* Firefox */
    -webkit-transform:scale(1) ; /* Safari and Chrome */
    -o-transform:scale(1); /* Opera */
    transition: transform 2s;
    -ms-transition: transform 2s;
    -moz-transition: transform 2s;
    -webkit-transition: transform 2s;
    -o-transform: transform 2s;
}

/************************Glass effect**************************/

.demo
{ 
    background-color: black;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.005, 1.650, 1.000, -0.600);
    transition-timing-function: cubic-bezier(0.005, 1.650, 1.000, -0.600);
    opacity: 1;
    text-align: center;
    font-size: 20px;
    color: white;
}

.demo:hover
{
    box-shadow: 0px 0px 20px 5px #FFFFFF;
}

.show-off
{
    position: absolute;
    transition: 0.5s;
    background: linear-gradient(30deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.7)100%);
}

#eventname{
  position: absolute;
  top: 30px;
  left: 20px;
  height: 70px;
  width: 615px;
  box-shadow: inset 0 50px rgba(255,255,255,0.2), 
            inset 0 -15px 30px rgba(0,0,0,0.4),
                  0 5px 10px rgba(0,0,0,0.5);
}

#ename{
  position: absolute;
  top: -120px;
  left: -1350px;
  height: 250px;
  width: 1250px;
  transform: rotate(45deg);

}

#eventname:hover #ename{
  transform: translateX(1250px);
  box-shadow: inset 0 50px rgba(255,255,255,0.2), 
            inset 0 -15px 30px rgba(0,0,0,0.4),
                  0 5px 10px rgba(0,0,0,0.5);

}

#eventinfo{
  position: absolute;
  top: 120px;
  left: 20px;
  height: 510px;
  width: 615px;
}

#einfo{
  position: absolute;
  top: 100px;
  left: -1300px;
  height: 90%;
  width:1300px;
  transform: rotate(45deg);
  }

  #eventinfo:hover #einfo{
    transform:translateX(1500px) rotate(30deg);
  }

  #eventgallery{
  position: absolute;
  top: 30px;
  left: 640px;
  height: 600px;
  width: 705px;
  ///
  padding:10px;
  margin:10px;
}

#egallery{
  position: absolute;
  top: 100px;
  left: -1350px;
  height: 90%;
  width:1400px;
  transform: rotate(45deg);
  /////////
  padding:10px;
  margin:10px;
  }

  #eventgallery:hover #egallery{
    transform:translateX(1500px) rotate(30deg);
  }
#hiddendiv
{
position: fixed;
    top: 0px;
    overflow: hidden;
    height: 120%;
    width: 100%;
	visibility:hidden;
background: gray;
}
#hiddendiv h2
{
font-size: 33px;
///////
padding:20px;
margin:20px;
}
#hiddendiv h3
{
font-size:20px;
///////
padding:20px;
margin:20px;
}

/*////////////////////////////////////////////////////////*/
#b1{
    height: 40px;
    border-radius: 40px;
    opacity: 0.7;
    position: absolute;
    bottom: 30px;
    right: 20px; 
  }

  #b2{
    height: 40px;
    border-radius: 40px;
    opacity: 0.7;
    position: absolute;
    bottom: 30px;
    right: 180px;
  }

  #b1:hover{
    opacity: 1;
  }
  #b2:hover{
    opacity: 1;
  }

  #back{
    position: absolute;
    right: 10px;
    top: 0px;
  }

  #back img{
    height: 30px;
    opacity: 0.85;
  }

  #back img:hover{
    opacity: 1;
	}

  #wrapper{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 90px;
}

li{
  display: inline;
}



