body {
	margin: 0px;
	padding: 0px;
	color: #c2bead;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #2f2e28;
	background-image: url(image/templatemo_body.jpg);
	background-repeat: repeat-y;
	background-position: left;
}
a, a:link, a:visited { color: #34baf9; text-decoration: none; }
a:hover { color: #CCFF00; text-decoration: underline; }
p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #e2c934; }
h1 { font-size: 24px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 20px; font-weight: normal; margin: 0 0 30px 0; font-weight: normal; }
h3 { font-size: 16px; margin: 0 0 15px 0; padding: 0; padding: 0; font-weight: normal;  }
h4 { font-size: 14px; margin: 0 0 15px 0; padding: 0; }


header
{
height:150px;
margin:-25px;
background-color:rgb(200,244,100);
}

td.a
{
background-color:green;
}

h1
{
line-height:150%;
padding:10px;
text-align:center;
}

table
{
margin:25;
background-color:rgb(0,200,100);
}

table
{
border-collapse:collapse;
}

table,th,td
{
border-collapse:collapse;
padding:10px;
}

div.first
{
margin:20;
width:400;
height:400;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
background-color:rgb(200,200,100);
border:2px solid black;
}


div.fourth
{
width:500;
border:1px solid black;
position:absolute;
left:600;
top:250;
}

h3{
    color:green;
    padding: 10px;
    
}
textarea{
width:300px;  
height:200px;
    border: 1px solid #CEE1E8;
margin-left:20px;	
    margin-bottom:20px;  
    padding:4px; 
	}

div.div1{
border:2px solid black;
height:220;
width:300;
 background-color:"cyan";
 }
 
 #border{
 border:2px solid red;
 margin:10;
 height:150;
 }
 #img_small{
 border:2px solid red;
 height:50;
 width:50;
 }
 